.danger-zone-wrapper {
    padding: 50px 100px;

    .danger-item {

        .danger-border {
            border: 1px solid var(--danger);
            border-radius: inherit;
            padding: 25px;
            position: relative;
        }

        h4, p {
            text-align: center;
        }

        p {
            margin: 10px 0 25px 0;
        }

        h4 {
            position: absolute;
            top: -13px;
            left: 50%;
            background-color: #fff;
            padding: 0 15px;
            transform: translateX(-50%);
            font-weight: 600;
            color: var(--danger);
        }
    }
}