.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;

    .logo-start {
        color: var(--dark);
    }

    .logo-end {
        color: var(--blue);
    }
}

.logo.invert .logo-start {
    color: var(--light);
}