.projects-wrapper {
    padding: 50px 100px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    .projects-header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 25px;
    }

    .projects-list-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        @media screen and (max-width: 2100px){
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 1550px){
            grid-template-columns: 1fr;
        }
    }
}
