<section class="friends-item-wrapper">
    <div class="d-flex flex-column justify-content-between">
        <div>
            <p class="label">Search for a friends</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" formControlName="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="info-wrapper">
            <app-count-item [count]="friendsCount" title1="My" title2="friends"></app-count-item>
            <app-account-info-item badge="0" title="Messages" icon="question_answer"></app-account-info-item>
            <app-account-info-item [badge]="friendInvitations?.length || 0" title="Invitations" icon="person_add" [noBorder]="true" routerLink="/friends/invitations"></app-account-info-item>
        </div>
    </div>
    <footer>
        <button class="btn btn-primary btn-block" routerLink="/friends">Manage your friends</button>
    </footer>
</section>