<section class="friends-page-wrapper">

    <div>
        <h2 class="d-flex align-items-center">
            <app-icon icon="keyboard_arrow_left" class="mr-2" [button]="true" routerLink="/dashboard"></app-icon>
            Friends
        </h2>

        <header class="friends-header">
            <form [formGroup]="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" formControlName="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary">Search</button>
                    </div>
                </div>
            </form>
            <div>
                <app-account-info-item icon="person_add" [badge]="friendsInvitationCount" [noBorder]="true" routerLink="/friends/invitations"></app-account-info-item>
            </div>
            <div>
                <button class="btn btn-primary" routerLink="/friends/invite">Invite friends</button>
            </div>
        </header>

        <main>
            <ng-template [ngIf]="filtredFriends.length" [ngIfElse]="noFriends"> 
                <div *ngFor="let user of pagedFriends" class="mt-4">
                    <app-user-item-wrapper [user]="user">
                        <div class="d-flex align-items-center">
                            <span *ngIf="!user.accepted" class="mr-3 text-secondary">(Invited)</span>
                            <div ngbDropdown class="d-inline-block" placement="bottom-right">
                                <button class="btn btn-outline-primary more-dropdown" ngbDropdownToggle>More</button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem class="text-dark">View profile</button>
                                    <ng-template [ngIf]="user.accepted" [ngIfElse]="notAccepted">
                                        <button ngbDropdownItem class="text-dark">Send message</button>
                                        <button ngbDropdownItem class="text-danger" (click)="openRemoveFriendDialog(user)">Remove friend</button>
                                    </ng-template>
                                    <ng-template #notAccepted>
                                        <button ngbDropdownItem class="text-danger" (click)="cancelInvitation(user.user_id)">Cancel invitation</button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </app-user-item-wrapper>
                </div>
            </ng-template>
            <ng-template #noFriends>
                <h2 class="text-center mt-4">You don't have any friends yet</h2>
            </ng-template>
        </main>
    </div>
    <footer class="d-flex justify-content-center">
        <app-pages-select [itemsCount]="filtredFriends.length" [itemsOnPage]="paging.itemsOnPage" (change)="handlePageChanges($event)"></app-pages-select>
    </footer>

</section>