<section class="project-wrapper">
    <div class="header-wrapper">

        <h2 class="d-flex align-items-center">
            <app-icon icon="keyboard_arrow_left" class="mr-2" [button]="true" routerLink="/projects"></app-icon>
            Project
        </h2>

        <header class="mt-4 d-flex justify-content-between">
            <div>
                <button class="btn btn-primary btn-scale mr-4" (click)="createColumn()">New column</button>
                <button class="btn btn-primary btn-scale mr-4" (click)="createTask()">New task</button>
                <button class="btn btn-primary btn-scale" (click)="changeColumnOrder()">Column order</button>
            </div>
            <button class="btn btn-primary btn-scale" (click)="toManage()">Manage project</button>
        </header>

    </div>
    <div class="main-wrapper">
        <app-async-content [loading]="loading">
            <main class="" *ngIf="project" cdkDropListGroup>

                <section class="column-wrapper" [ngStyle]="{'width': getWidth() + 'px'}">
                    <div class="item-box column" *ngFor="let col of project.columns">
                        <header class="column-header">
                            <div class="header-inner-wrapper d-flex align-items-center justify-content-between">
                                <h6>{{col.name}}</h6>
                                <div ngbDropdown class="d-inline-block" placement="bottom-right">
                                    <div ngbDropdownToggle class="column-dorpdown">
                                        <mat-icon>more_vert</mat-icon>
                                    </div>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem class="text-dark" (click)="updateColumn(col)">Upadte column</button>
                                        <button ngbDropdownItem class="text-dark" (click)="changeColumnOrder()">Move column</button>
                                        <button ngbDropdownItem class="text-danger" (click)="deleteColumn(col)">Delete column</button>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <section class="tasks-wrapper" cdkDropList [cdkDropListData]="col.tasks"
                            (cdkDropListDropped)="dropTask($event, col)">

                            <div *ngFor="let task of col.tasks" cdkDrag (mousedown)="setDraggedTask(task)" class="task">
                                <app-task-item (updateTask)="handleUpdateTask($event)" [task]="task" [members]="teamMembers"></app-task-item>
                            </div>

                            <div class="d-flex justify-content-center mt-3">
                                <app-add-button (click)="createTask(col.column_id)"></app-add-button>
                            </div>
                        </section>
                    </div>
                    <div class="column last-column d-flex justify-content-center align-items-center">
                        <app-add-button (click)="createColumn()"></app-add-button>
                    </div>
                </section>

            </main>
        </app-async-content>
    </div>
</section>