.profile-tile {

    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    height: 100%;

    h3 {
        margin: 0;
    }

    .email {
        font-size: 14px;
        color: var(--secondary);
    }

    .jobs {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 200;
    }

    .profile-info {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .profile-footer {
        grid-column: span 2;
    }
}