<section class="invite-friends-wrapper">

    <h2 class="d-flex align-items-center">
        <app-icon icon="keyboard_arrow_left" class="mr-2" [button]="true" routerLink="/friends"></app-icon>
        Invite friends
    </h2>

    <div class="search-wrapper mt-4">
        <app-search-user [friends]="false" (change)="handleUsersChanges($event)">
            <div *ngFor="let user of users" class="mt-4 item-box">
                <app-user-item-wrapper [user]="user">
                    <div>
                        <ng-template [ngIf]="isAlredyInvited(user.user_id)" [ngIfElse]="invited">
                            <button class="btn btn-primary btn-scale" (click)="inviteFriend(user.user_id)">Invite</button>
                        </ng-template>
                        <ng-template #invited>
                            <button class="btn btn-danger btn-scale" (click)="cancelInvitation(user.user_id)">Cancel invitation</button>
                        </ng-template>
                    </div>
                </app-user-item-wrapper>
            </div>
        </app-search-user>
    </div>

</section>