<section class="profile-wrapper">
    <h2 class="d-flex align-items-center">
        <app-icon icon="keyboard_arrow_left" class="mr-2" [button]="true" routerLink="/dashboard"></app-icon>
        Profile
    </h2>

    <article class="item-box profile mt-4" *ngIf="user">
        <div class="profile-img">
            <app-profile-image path="./assets/profile.jpg"></app-profile-image>
        </div>
        <div class="info mt-4">
            <h2>{{user | fullname}}</h2>
            <p>{{user.nick}}</p>
        </div>
    </article>
</section>