<section class="content-center">
    <div class="login-page-content-wrapper item-box-big">
        <header class="d-flex flex-column align-items-center">
            <app-logo></app-logo>
            <h4>Register</h4>
        </header>

        <div class="form-wrapper">
            <app-register-form></app-register-form>
        </div>

        <div class="devider-wrapper">
            <app-devider>or</app-devider>
        </div>

        <footer class="login-page-footer d-flex align-items-center">
            <button class="btn btn-danger btn-block" routerLink="/login">Login to existing account</button>
        </footer>
    </div>
</section>