<section class="admin-panel-wrapper item-box">
    <div>
        <div class="info-wrapper">
            <app-count-item count="20" title1="Open" title2="Projects"></app-count-item>
            <app-count-item count="40" title1="Closed" title2="Projects"></app-count-item>
            <app-account-info-item badge="2" icon="person_add" [title]="'Join requests'" [noBorder]="true"></app-account-info-item>
            <div class="buttons">
                <button class="btn btn-primary">Create new project</button>
                <button class="btn btn-primary">Invite members</button>
                <button class="btn btn-danger">Danger zone</button>
            </div>      
        </div>
    </div>
</section>