<section class="wrapper">
    <div>
        <form [formGroup]="form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" formControlName="fullname">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">Search</button>
                </div>
            </div>
        </form>

        <div class="list">
            <ng-content></ng-content>
        </div>
    </div>

    <footer class="d-flex justify-content-center">
        <app-pages-select [itemsCount]="count" [itemsOnPage]="limit" (change)="handlePageChange($event)"></app-pages-select>
    </footer>

</section>