<article class="item-box project-item-wrapper">
    <h4>{{project.name}}</h4>

    <div class="project-item">
        <div>
            <app-profile-image path="assets/profile.jpg"></app-profile-image>
        </div>
        <div class="mt-2 mb-2">
            <div class="project-info">
                <ng-template [ngIf]="!more" [ngIfElse]="readMore">
                    <app-item-list [items]="[
                        { header: 'owner', value: project.creator | fullname },
                        { header: 'team', value: project.team?.name || 'no team' },
                        { header: 'open', value: project.open | bool }
                    ]"></app-item-list>
                </ng-template>
                <ng-template #readMore>
                    <div class="project-description mt-2 mb-2">
                        <p class="mb-2 description-text text-secondary">Description:</p>
                        <p>{{project.description}}</p>
                    </div>
                </ng-template>
                <div class="mb-3 d-flex justify-content-center">
                    <button class="btn btn-sm btn-scale" (click)="toogleMore()">{{moreBtnText}}</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-between">
        <button class="btn btn-primary btn-scale">Manage project</button>
        <button class="btn btn-primary btn-scale">Go to project</button>
    </footer>
</article>