.aside-nav {
    color: var(--light);
    list-style-type: none;
    padding: 0;

    li {
        font-size: 1rem;
        padding: 15px 0;
        border-left: 7px solid transparent;
        
        .item {
            padding: 0 15px;
            display: grid;
            grid-template-columns: 25px auto;
            gap: 25px;
        }

    }
    .active {
        border-left-color: var(--blue);
    }
}