<section class="team-manager-wrapper" *ngIf="team && teamMe">
 
    <h2>Team manager</h2>

    <section class="manage-wrapper">
        <app-admin-panel class="admin-panel" [me]="teamMe" *ngIf="teamMe.permission  > 1" [team]="team"></app-admin-panel>
        <app-team-manager-header [team]="team"></app-team-manager-header>
        <div class="list-wrapper">
            <ul class="nav nav-tabs list-tabs">
                <li class="nav-item">
                    <p
                        class="nav-link"
                        (click)="setTab('members')"
                        [class.active]="tab === 'members'">Members</p>
                </li>
                <li class="nav-item">
                    <p
                        class="nav-link"
                        (click)="setTab('projects')"
                        [class.active]="tab === 'projects'">Projects</p>
                </li>
            </ul>
            <div class="list-content item-box">
                <ng-template [ngIf]="tab === 'members'" [ngIfElse]="projects">
                    <app-user-list [members]="members" [permission]="teamMe.permission" [meId]="userService.user.user_id"></app-user-list>
                </ng-template>
                <ng-template #projects>
                    <app-project-list></app-project-list>
                </ng-template>
            </div>  
        </div>
        <app-team-me [me]="teamMe"></app-team-me>
    </section>

</section>