.team-manager-wrapper {
    padding: 50px 100px;   

    .manage-wrapper {
        margin-top: 25px;
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 2fr;

        .admin-panel {
            grid-column: span 2;
        }

        .users-wrapper {
            grid-row: span 2;
        }
    }
}