<section class="dashboard-wrapper">
    <h2>Dashboard</h2>

    <div class="items-wrapper">
        <app-dashboard-item [title]="'Account'">
            <app-account-item></app-account-item>
        </app-dashboard-item>
        <app-dashboard-item [title]="'Projects'">
            <app-project-item></app-project-item>
        </app-dashboard-item>
        <app-dashboard-item [title]="'Teams'">
            <app-teams-item [teamInvitations]="notifications.teamInvitations"></app-teams-item>
        </app-dashboard-item>
        <app-dashboard-item [title]="'Friends'">
            <app-friends-item></app-friends-item>
        </app-dashboard-item>
    </div>
</section>