<section class="item-box team-wrapper">

    <div class="img-wrapper">
        <app-profile-image path="./assets/profile.jpg"></app-profile-image>
    </div>
    <h3><strong>{{team.name}}</strong></h3>
 
    <div>
        <app-item-list [items]="[
                { header: 'Owner', value: team.owner.name },
                { header: 'Members', value: team.membersCount, icon: 'people' }
        ]" [vertical]="true"></app-item-list>
    </div>
    
    <div class="button-wrapper">
        <button class="btn btn-primary btn-block" (click)="manage()">Manage team</button>
    </div>

</section>
