/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootswatch/dist/sandstone/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
:root {
    --dark: #303030;
    --danger-secondary: #e07d79;
    --light: rgb(250, 250, 250);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    background-color: var(--light);
}

button:disabled {
    cursor: default;
}

.content-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-box {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
}

.is-invalid::placeholder {
    color: var(--danger);
}

.alert {
    padding: 5px;
}

.alert-danger {
    background-color: var(--danger-secondary);
    text-align: center;
    border-left-width: 5px;
    border-color: var(--danger);
}

.container-fluid {
    padding: 0;
}

.list-group-item-action {
    cursor: pointer;
}

