<form class="login-form" [formGroup]="form" (ngSubmit)="handleSubmit()">

    <div class="form-group">
        <input
            type="text"
            class="form-control"
            [class.is-invalid]="form.controls.userName.invalid && form.controls.userName.touched"
            placeholder="User name"
            formControlName="userName">
        <app-form-info 
            hint="Your email or nick" 
            [control]="form.controls.userName"
            [errorList]="{
                required: 'User name is required',
                minlength: 'User name is too short',
                maxlength: 'User name is too long'
            }"></app-form-info>
    </div>

    <div class="form-group">
        <input 
            type="password"
            class="form-control"
            [class.is-invalid]="form.controls.password.invalid && form.controls.password.touched"
            placeholder="Password"
            formControlName="password">
        <app-form-info
            hint="Password for your account"
            [control]="form.controls.password"
            [errorList]="{
                required: 'Password is required',
                minlength: 'Password is too short',
                maxlength: 'Invalid password'
            }"
        ></app-form-info>
    </div>

    <div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}!</div>
    </div>

    <footer>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="disabledSubmit || form.invalid">Login</button>
    </footer>

</form>